
html, body {
	height: 100vh;
}

html {
	background-color: #FFFFFF;
	font-size: 100%;
}

head {
	background-color: #FFFFFF;
	padding-inline: 10px;
}
  
.topmenu a {
	float: left;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
.dropbtn {
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
.dropdown {
	position: relative;
	display: inline-block;
  }

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

.dropdown-content a {
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
  }
  
.dropdown-content a:hover {
	background-color: lightskyblue;
}
  
.dropdown:hover .dropdown-content {
	display: block;
}

/* .dropdown:hover .dropbtn {
	background-color: blue;
} */

.dropbtn:hover {
	border-color: #0070ba;
	border-width: 4px;
}

.button1 {
	border-radius: 12px;
}

body {
    background-color: #FFFFFF;
  }